:root {
  --allText:rgba(2,0,36,0.99);
  --otherText:white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--allText);
  font-family: 'Amatic SC', cursive;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.title p {
  color: white;
}

li, span, label, input, textarea {
  color: var(--allText);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Mobile */

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }

  .nav-elements {
    flex-direction: column;
  }

  .title { 
    text-align: center;
  }

  #aboutme {
    flex-direction: column;
  }
}

/* Header */

header {
  display: flex;
  background-color: #020024;
  align-items: stretch;
}

nav {
  flex: 1;
  display: flex;
}

.title {
  font-size: 20px;
  font-weight: 300;
  padding: 7.5px 10px 7.5px 10px;
  vertical-align: middle;
}

.nav-elements {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-elements li {
  display: flex;
  justify-content: center;
  flex-basis: 10%;
  align-items: center;
} 

.nav-elements a {
  display: block;
  text-decoration: none;
  color: white;
}

.nav-elements li:hover {
  background-color: rgba(43,122,120,1);
}

/* Main */

#intro {
  display: flex;
  min-height: 40em;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(43,122,120,1) 35%, rgb(255, 255, 255) 100%);
}

.s2, .s3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 95%;
}

#aboutme {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(1,0,35,0.5);
  -moz-box-shadow: 0px 4px 5px 0px rgba(1,0,35,0.5);
  box-shadow: 0px 4px 5px 0px rgba(1,0,35,0.5);
}

#aboutme p {
  width: 90%;
  flex: 1;
  text-align: right;
}

#aboutme ul li{
  color: var(--allText);
  list-style-type: square;
}

img {
  flex: 2;
  max-height: 250px;
  max-width: 250px;
}

/* Unknown section */

#unknown{
  border: 2px dotted rgba(43,122,120,1);
} 

/* Contact Form */

#contact {
  min-height: 30em;
  width: 30%;
  margin: 0 auto;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius:8px;
  box-shadow:0 0 40px -10px rgba(2,0,36,0.99);
  padding:20px 30px;
  height: 100%;
}

input {
  width:100%;
  padding:10px;
  background:none;
  outline:none;
  resize:none;
  border:0;
  transition:all .3s;
  border-bottom:2px solid rgba(43,122,120,1);
}
input:focus {
  border-bottom:2px solid rgba(43,122,120,1);
}

p:before {
  content:attr(type);
  display:block;
  margin:28px 0 0;
  font-size:14px;
  color:rgba(43,122,120,1)}

button {
  padding:8px 12px;
  margin:8px 0 0;
  border:2px solid rgba(43,122,120,1);
  background:0;
  color:rgba(43,122,120,1);
  cursor:pointer;
  transition:all .3s
}s

button:hover {
  background:rgba(43,122,120,1);
  color:#fff
}

/* Footer */